body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(212, 178, 231, 1) 100%
  );
}

.app {
  background-color: white;
  min-height: 50vh;
  width: 500px;
  margin: 20px auto;
  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  margin-top: 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;

  text-shadow: 2px 3px 5px rgba(69, 68, 69, 0.5);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul {
  padding: 10px;
  margin: 0;
}

li {
  list-style-type: none;
  background: #fff;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: center;
}

.inputAdd {
  flex: 1;
  padding: 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #ccc;
}

.addBtn {
  padding: 8px 20px;
  background-color: #e7ddf4;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  cursor: pointer;
}

.btnDelete {
  padding: 8px 16px;
  background-color: #9a85d7;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.crossed {
  text-decoration: line-through 2px black;
  background-color: #f0f0f0;
}

.checkbox {
  margin: 0 5px;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #9a85d7;
  border-radius: 4px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #9a85d7;
  border-color: #9a85d7;
}

.checkbox:checked::after {
  content: "✔";
  font-size: 14px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.flower {
  width: 200px;
  height: 100px;
  padding-top: 10px;
  justify-self: center;
}
